@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
}
h3 {
  text-align: center;
  margin-top: 40px;
}
img {
  width: 3cm;
  height: 3cm;
  transition: transform 0.5s;
  margin: 15px;
  border-radius: 5%;
}
img:hover {
  cursor: zoom-in;
  transform: scale(1.1);
}
#price {
  text-decoration: underline;
}
td {
  padding: 10px;
}
.foto {
  border-radius: 5%;
  background-image: linear-gradient(to bottom right, #4e3eb3, white);
}
table {
  width: 80%;
  margin: auto;
}
th#price {
  cursor: pointer;
}
li {
  color: blue;
}
/*si chequea muestra los productos sin cheque desaparecen los productos*/
.filtros .checkbox-row input#c1:checked ~ #tabla tbody tr.c1 {
  display: table-row;
}
input#c1:not(checked) ~ table tbody tr.c1 {
  display: none;
}
input#c2:checked ~ table tbody tr.c2 {
  display: table-row;
}
input#c2:not(checked) ~ table tbody tr.c2 {
  display: none;
}
input#c3:checked ~ table tbody tr.c3 {
  display: table-row;
}
input#c3:not(checked) ~ table tbody tr.c3 {
  display: none;
}
input#c4:checked ~ table tbody tr.c4 {
  display: table-row;
}
input#c4:not(checked) ~ table tbody tr.c4 {
  display: none;
}

body {
  background-color: rgb(226, 226, 226);
}
h1 {
  font-family: "Fuzzy Bubbles", cursive;
}

.info {
  display: block;
  text-align: center;
  margin-top: 100px;
  padding: 0 50px;
}
.info button {
  border: 1px solid white;
  background-color: rgb(78, 62, 179);
  color: aliceblue;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-container {
  margin-top: 10px;
  padding: 1px;
  /* height: auto; */
  width: auto;
  display: inline-block;
  background-color: rgb(78, 62, 179);
}
.info button:hover {
  border: 1px solid rgb(78, 62, 179);
  color: rgb(70, 21, 116);
  background-color: rgb(217, 211, 255);
}
#listado {
  padding: 0 100px;
}
#listado form {
  display: flex;
}
.filtros {
  padding: 100px;
}
.form-insert {
  display: flex;
  justify-content: center;
  margin: 10px;
}
#insert-form .form-control {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.form-control label {
  margin-right: 5px;
}
.form-control-button {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
